<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESAFÍO Motores de plantillas + Websocket</title>
</head>
<body>
    <h2>DESAFÍO Motores de plantillas + Websocket</h2>
   {{{body}}} 
</body>
</html>